.form-container {
    margin: 4rem;
  }
  .form-container form {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
  .form-container input {
    height: 30px;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 0.5;
    border: 1px solid black;
    font-size: 1.2rem;
  }
  .form-container textarea {
    font-size: 1.2rem;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 0.5;
    border: 1px solid black;
  }
  .form-container button {
    display: inline;
    width: 25%;
  }
  