.navbarItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
    height: 80px;
    position: fixed;
    top: 0px;
    background-color: white;
  }
  .navLogo {
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 800;
    padding: 25px;
    font-style: italic;
  }
  .navMenu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
  }
  .navLinks {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 0.7rem 1rem;
    white-space: nowrap;
  }
  .navMenu :hover {
    color: orangered;
    transition: all 0.2s ease-in-out;
  }
  .navLinksMobile {
    display: none;
  }
  button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  button:hover {
    background-color: white;
    color: orangered;
  }
  .menuIcons {
    display: none;
  }
  
  @media screen and (max-width: 850px) {
    .navbarItem {
      z-index: 99;
    }
    .navMenu {
      display: flex;
      list-style: none;
      align-items: stretch;
      flex-direction: column;
      color: white;
      background-color: white;
      position: absolute;
      top: 0;
      left: -100%;
      opacity: 0;
      flex-direction: column;
      justify-content: flex-start;
      padding: 80px 0 30px 0;
      width: 100%;
      height: auto;
      margin: 0;
      z-index: -1;
      transition: 0.5s ease-in-out;
    }
    .navLinks {
      display: block;
      width: 100%;
      font-size: 18px;
      padding: 2rem 0;
    }
    button {
      display: none;
    }
    .navLinksMobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: auto;
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
      width: 80%;
      border-radius: 10px;
    }
    .navMenu.active {
      left: 0;
      opacity: 1;
      z-index: -1;
      transition: 0.3s ease-in-out;
    }
    .menuIcons {
      display: block;
      cursor: pointer;
    }
    .menuIcons i {
      font-size: 1.2rem;
    }
  }
  